.form-fields{
    width: 500px;
    display: block;
    margin: 10px 10px;
}

.form-fields{
    padding: 8px 5px;
}

.form-fields label{
    width: 200px;
    display: inline-block;
}

.form-fields input{
    padding: 3px 10px;
    width: 290px;
    height: 35px;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 4px;
}